<main class="content" data-page="home">
    <div id="modal-container">
        <div class="modal-background">
            <div class="modal">
                <div class="modal-close js-close-modal"></div>
                <div class="modal-body">
                    <div class="title">Замовлення дзвінка</div>
                    <div class="subtitle">Введіть ваш номер телефону, ми вам передзвонимо, відповімо на всі питання і детально проконсультуємо.</div>
                        {{ form_start(phone) }}
                        <div class="form-wrapper">
                            <div class="input-container">
                                {{form_row(phone.phone_number)}}
                            </div>
                            {{ form_row(phone.Send) }}
                        </div>
                   {{ form_end(phone) }}
                </div>
            </div>
        </div>
    </div>
    <section class="first-screen" name="main" id="main">
        <div class="container">
            <div class="first-screen__controls">
                <div class="first-screen__controls-info">
                    <div class="first-screen__controls-info-text"> <span>Про житловий масив</span>
                        <div class="bottom-indicator">
                            <div class="bottom-indicator-filled"></div>
                        </div>
                    </div>
                    <div class="first-screen__controls-info-center--holder"><button class="button" type="text" data-scroll="benefits">
                            <div class="button-text">Детальніше</div>
                        </button><span>с. Тарасове, вул. Боголюбська, 116</span></div>
                </div>
                <div class="first-screen__controls-wrapper">
                    <!-- Add Navigation-->
                    <div class="swiper-button-next first-screen__controls-next"></div>
                    <div class="swiper-button-prev first-screen__controls-prev"></div><!-- Add Pagination-->
                    <div class="swiper-pagination first-screen__controls-pagination"></div>
                </div>
            </div>
        </div>
        <div class="swiper-container first-screen__container">
            <div class="parallax-bg" data-swiper-parallax="-23%"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide first-screen__slide">
                    <div class="container">
                        <div class="first-screen__slide-wrapper">
                            <div class="first-screen__slide-title" data-swiper-parallax-opacity="0" data-swiper-parallax-scale="0">ЖК Італійський</div>
                            <div class="first-screen__slide-text" data-swiper-parallax-opacity="0">Квартири комфорт класу за доступними цінами. </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide first-screen__slide">
                    <div class="container">
                        <div class="first-screen__slide-wrapper">
                            <div class="first-screen__slide-title" data-swiper-parallax-opacity="0" data-swiper-parallax-scale="0">ЖК Італійський</div>
                            <div class="first-screen__slide-text" data-swiper-parallax-opacity="0">Час змінювати житло!</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide first-screen__slide">
                    <div class="container">
                        <div class="first-screen__slide-wrapper">
                            <div class="first-screen__slide-title" data-swiper-parallax-opacity="0" data-swiper-parallax-scale="0">ЖК Італійський</div>
                            <div class="first-screen__slide-text" data-swiper-parallax-opacity="0">Ми будуємо ваше майбутнє!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about" name="about" id="about">
        <div class="container">
            <div class="about__wrapper">
                <div class="about__top">
                    <div class="about__top__stats">
                        <div class="about__top__stats-item">
                            <div class="about__top__stats-item-count first-column" id="tal-0">0</div>
                            <div class="about__top__stats-item-text animate-el">квартир</div>
                        </div>
                        <div class="about__top__stats-item">
                            <div class="about__top__stats-item-count second-column" id="tal-1">0</div>
                            <div class="about__top__stats-item-text animate-el">2кім.квартир</div>
                        </div>
                        <div class="about__top__stats-item">
                            <div class="about__top__stats-item-count last-column" id="tal-2">0</div>
                            <div class="about__top__stats-item-text animate-el">3кім.квартир</div>
                        </div>
                    </div>
                    <div class="about__top__stats">
                        <div class="about__top__stats-item">
                            <div class="about__top__stats-item-count first-column" id="tal-3">0</div>
                            <div class="about__top__stats-item-text animate-el">паркомість </div>
                        </div>
                        <div class="about__top__stats-item">
                            <div class="about__top__stats-item-count second-column" id="tal-4">0</div>
                            <div class="about__top__stats-item-text animate-el">будинки </div>
                        </div>
                        <div class="about__top__stats-item">
                            <div class="about__top__stats-item-count last-column" id="tal-5">0</div>
                            <div class="about__top__stats-item-text animate-el">1кім.квартир </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="benefits" id="benefits">
        <div class="container">
            <div class="title animate-el">Якщо обирати, то лише найкраще:</div>
            <div class="benefits__wrapper">
                <div class="benefits__wrapper-item animate-el">
                    <div class="benefits__wrapper-item__mask"></div>
                    <div class="benefits__wrapper-item__count">01</div>
                    <div class="benefits__wrapper-item__title">Зелена зона.</div>
                    <div class="benefits__wrapper-item__text">ЖК Італійський знаходиться в чистій екологічній зоні на відстані від шумних доріг, але водночас в 5хв. від центру Луцька, що забезпечує чудову транспортну доступність.</div>
                </div>
                <div class="benefits__wrapper-item animate-el">
                    <div class="benefits__wrapper-item__mask"></div>
                    <div class="benefits__wrapper-item__count">02</div>
                    <div class="benefits__wrapper-item__title">Ліфти</div>
                    <div class="benefits__wrapper-item__text">4-х поверхові будинки оснащені сучасними та безпечними ліфтами. Ми дбаємо про Ваш комфорт.</div>
                </div>
                <div class="benefits__wrapper-item animate-el">
                    <div class="benefits__wrapper-item__mask"></div>
                    <div class="benefits__wrapper-item__count">03</div>
                    <div class="benefits__wrapper-item__title">Опалення.</div>
                    <div class="benefits__wrapper-item__text">Індивідуальний котел у кожній квартирі та підігрів підлоги на кухні та санвузлі, надає можливість контролювати витрати на комунальні послуги самостійно.</div>
                </div>
                <div class="benefits__wrapper-item animate-el">
                    <div class="benefits__wrapper-item__mask"></div>
                    <div class="benefits__wrapper-item__count">04</div>
                    <div class="benefits__wrapper-item__title">Енергоощадність.</div>
                    <div class="benefits__wrapper-item__text">Цегляний будинок та утеплення фасаду 15 см забезпечить економію на енергоресурсах та дозволить суттєво заощадити в майбутньому.</div>
                </div>
                <div class="benefits__wrapper-item animate-el">
                    <div class="benefits__wrapper-item__mask"></div>
                    <div class="benefits__wrapper-item__count">05</div>
                    <div class="benefits__wrapper-item__title">Панорамні вікна.</div>
                    <div class="benefits__wrapper-item__text">Вікна з шестикамерним профілем (Aluplast) з двокамерним енергозберігаючим склопакетом (Solar), не лише забезпечать звукоізоляцію, але й берегтимуть тепло Вашої оселі.</div>
                </div>
                <div class="benefits__wrapper-item animate-el">
                    <div class="benefits__wrapper-item__mask"></div>
                    <div class="benefits__wrapper-item__count">06</div>
                    <div class="benefits__wrapper-item__title">Власна інфраструктура.</div>
                    <div class="benefits__wrapper-item__text">На першому поверсі розташовані комерційні об’єкти, де невдовзі з‘являться магазини, аптеки, салони краси, що зробить Ваше життя по справжньому зручним та комфортним.</div>
                </div>
                <div class="benefits__wrapper-item animate-el">
                    <div class="benefits__wrapper-item__mask"></div>
                    <div class="benefits__wrapper-item__count">07</div>
                    <div class="benefits__wrapper-item__title">Безпека.</div>
                    <div class="benefits__wrapper-item__text">Територія житлового комплексу повністю огороджена, освітлена та з цілодобовим відеоспостереженням, щоб Ви та Ваші рідні завжди почувалися захищеними, щоб Ви та Ваші рідні завжди почувалися захищеними.</div>
                </div>
                <div class="benefits__wrapper-item animate-el">
                    <div class="benefits__wrapper-item__mask"></div>
                    <div class="benefits__wrapper-item__count">08</div>
                    <div class="benefits__wrapper-item__title">Двір без авто.</div>
                    <div class="benefits__wrapper-item__text">Затишний двір без автомобілів. Сучаний ланшафт, озеленена територія, зони для відпочинку, дитячий ігровий та спортивний майданчик. За периметром двору розташована парковка з достатньою кількістью паркомість.</div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery" name="gallery" id="gallery">
        <div class="container">
            <div class="gallery__wrapper">
                <div class="gallery__wrapper-left--img accord"><a href="{{asset('static/img/gallery-left-big.png')}}" data-fancybox="gallery"><img class="first-img" src="{{asset('static/img/gallery-left.png')}}" alt="gallery-left" /></a></div>
                <div class="gallery__wrapper-desc">
                    <div class="title animate-el-1">Простір для життя без міської метушні</div>
                    <div class="center-img accord"><a href="{{asset('static/img/gallery-center-big.png')}}" data-fancybox="gallery"><img src="{{asset('static/img/gallery-center.png')}}" alt="galery-center" /></a></div>
                    <div class="green-bg rellax"> </div>
                </div>
                <div class="gallery__wrapper-right--img accord"><a href="{{asset('static/img/gallery-right-big.png')}}" data-fancybox="gallery"><img src="{{asset('static/img/gallery-right.png')}}" alt="gallery-right" /></a></div>
                <div class="swiper-container gallery-slider animate-el-1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- Required swiper-lazy class and image source specified in data-src attribute-->
                            <img class="swiper-lazy" data-src="{{asset('static/img/gallery-small-1.png')}}" alt="gallery-img-1" />
                            <!-- Preloader image-->
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide"><img class="swiper-lazy" data-src="{{asset('static/img/gallery-small-2.png')}}" alt="gallery-img-2" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide"><img class="swiper-lazy" data-src="{{asset('static/img/gallery-small-3.png')}}" alt="gallery-img-3" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide"><img class="swiper-lazy" data-src="{{asset('static/img/gallery-small-4.png')}}" alt="gallery-img-4" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide"><img class="swiper-lazy" data-src="{{asset('static/img/gallery-small-5.png')}}" alt="gallery-img-5" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide"><img class="swiper-lazy" data-src="{{asset('static/img/gallery-small-6.png')}}" alt="gallery-img-6" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide"><img class="swiper-lazy" data-src="{{asset('static/img/gallery-small-7.png')}}" alt="gallery-img-7" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide"><img class="swiper-lazy" data-src="{{asset('static/img/gallery-small-8.png')}}" alt="gallery-img-8" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide"><img class="swiper-lazy" data-src="{{asset('static/img/gallery-small-9.png')}}" alt="gallery-img-9" />
                            <div class="swiper-lazy-preloader"> </div>
                        </div>
                    </div><!-- Add Pagination-->
                    <div class="swiper-pagination gallery-slider-pagination"></div><!-- Navigation-->
                    <div class="swiper-button-next gallery-slider-next"></div>
                    <div class="swiper-button-prev gallery-slider-prev"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="planning" name="planning" id="planning">
        <div class="container">
            <div class="title animate-el">Оригінальні будинки з зручним плануванням</div>
            <div class="swiper-container planning-container animate-el">
                <div class="first-screen__controls planning__controls">
                    <div class="first-screen__controls-wrapper planning__controls-wrapper">
                        <!-- Add Navigation-->
                        <div class="swiper-button-next first-screen__controls-next planning__controls-next"></div>
                        <div class="swiper-button-prev first-screen__controls-prev planning__controls-prev"></div><!-- Add Pagination-->
                        <div class="swiper-pagination first-screen__controls-pagination planning__controls-pagination"></div>
                    </div>
                </div>
                <div class="swiper-wrapper planning-wrapper">
                    <div class="swiper-slide">
                        <div class="planning-slide__wrapper">
                            <div class="planning-slide__left">
                                <div class="planning-slide__left-item" data-swiper-parallax-opacity="0">
                                    <div class="planning-slide__left-title" data-swiper-parallax-y="-100" data-swiper-parallax-duration="1000">Квартира 1-кiмнатна</div>
                                    <div class="planning-slide__left-holder">
                                        <div class="planning-slide__left-text">Площа </div>
                                        <div class="planning-slide__left-subtitle" data-swiper-parallax-y="-150" data-swiper-parallax-duration="1000"> 38,8 кв.м до 45,2 кв.м </div>
                                    </div>
                                </div>
                            </div>
                            <div class="planning-slide__right"><a href="{{asset('static/img/plan-big-1.png')}}" data-fancybox="planning">
                                    <img src="{{asset('static/img/plan-1.png')}}" alt="plan=img" data-swiper-parallax-opacity="0" data-swiper-parallax-scale="0" data-swiper-parallax-duration="1000" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="planning-slide__wrapper">
                            <div class="planning-slide__left">
                                <div class="planning-slide__left-item" data-swiper-parallax-opacity="0">
                                    <div class="planning-slide__left-title" data-swiper-parallax-y="-100" data-swiper-parallax-duration="1000">Квартира 2-кiмнатна </div>
                                    <div class="planning-slide__left-holder">
                                        <div class="planning-slide__left-text">Площа </div>
                                        <div class="planning-slide__left-subtitle" data-swiper-parallax-y="-150" data-swiper-parallax-duration="1000"> 60,0 кв.м до 69,8 кв.м </div>
                                    </div>
                                </div>
                            </div>
                            <div class="planning-slide__right">
                                <a href="{{asset('static/img/plan-big-2.png')}}" data-fancybox="planning">
                                    <img src="{{asset('static/img/plan-2.png')}}" alt="plan=img" data-swiper-parallax-opacity="0" data-swiper-parallax-scale="0" data-swiper-parallax-duration="1000" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="planning-slide__wrapper">
                            <div class="planning-slide__left">
                                <div class="planning-slide__left-item" data-swiper-parallax-opacity="0">
                                    <div class="planning-slide__left-title" data-swiper-parallax-y="-100" data-swiper-parallax-duration="1000">Квартира 3-кiмнатна </div>
                                    <div class="planning-slide__left-holder">
                                        <div class="planning-slide__left-text">Площа </div>
                                        <div class="planning-slide__left-subtitle" data-swiper-parallax-y="-150" data-swiper-parallax-duration="1000"> 79,2 кв.м </div>
                                    </div>
                                </div>
                            </div>
                            <div class="planning-slide__right"><a href="{{asset('static/img/plan-big-3.png')}}" data-fancybox="planning">
                                    <img src="{{asset('static/img/plan-3.png')}}" alt="plan=img" data-swiper-parallax-opacity="0" data-swiper-parallax-scale="0" data-swiper-parallax-duration="1000" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="green-bg rellax"> </div>
            </div>
        </div>
    </section>
    <section class="feedback animate-el" name="feedback" id="feedback">
        <div class="container">
            <div class="feedback__wrapper">
                <div class="feedback__wrapper__left">
                    {{ form_start(contact) }}
                        <div class="form-wrapper">
                            <div class="input-container">
                            {{ form_row(contact.email_from) }}
                            </div>
                            <div class="input-container">
                                {{ form_row(contact.text) }}
                            </div>
                                {{ form_row(contact.Send) }}
                        </div>
                    {{form_end(contact) }}
                </div>
                <div class="feedback__wrapper__right">
                    <div class="title">Зворотній зв’язок</div>
                    <div class="subtitle">Виникли питання? Залиште свій номер і ми Вам зателефонуємо</div>
                </div>
            </div>
        </div>
    </section><a class="scroll-to-top-button" href="#" id="scrollToTopHomeButton"></a>
</main>